{% extends 'base.html.twig' %}

{% block title %}Report List{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('styles/admin_style.css') }}"> {% endblock %}
{% block body %}
<div>
    <h1 style="text-align: center">Report list ZUT</h1>
    {% for meeting in meetings %}
        <div class="report_block">
            <div>ID: {{ meeting.id }}</div>
            <div>Subject: {{ meeting.meetingName }}</div>
            <div>Teacher: {{ meeting.prof.teacher }}    </div>
            <div>Room: {{ meeting.meetingRoom }}    </div>
            <div>Start Time: {{ meeting.meetingStart|date('Y-m-d H:i:s') }} </div>
            <div>End Time:{{ meeting.meetingEnd|date('Y-m-d H:i:s') }}  </div>
            <button><a href="/admin/download">Download Report</a></button>
        </div>
    {% endfor %}
</div>
{% endblock %}
