{% extends 'base.html.twig' %}

{% block title %}Sign In!{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('styles/admin_style.css') }}"> {% endblock %}
{% block body %}
    <div class="authenticate">
        <h1>Pimp My Zut</h1>
     <form action="{{ path('app_sign_in') }}" method="post">
         <label for="username">Username:</label>
         <input type="text" id="username" name="_username" value="{{ last_username }}"/>

         <label for="password">Password:</label>
         <input type="password" id="password" name="_password"/>

         <input type="hidden" name="_target_path" value="/admin"/>
         <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

         <button type="submit">login</button>
     </form>
    </div>
    {% if error %}
        <div style="text-align: center; margin-top: 15px">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
{% endblock %}
